*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}
.pageHeader{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}
.pageHeader-bar{
    display: flex;
    width: 100%;
}
.pageHeader-bar_one {
    display: flex;
    width: 60%;
    list-style: none;
}
.item1, .item2, .item3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1 {
    width: 20%;
}
.item2 {
    width: 30%;
}
.item3 {
    width: 50%;
}
.item2 a, .item3 a  {
    text-decoration: none;
    color: rgb(70, 69, 69);
}
.item1 figure{
    display: flex;
    align-items: center;
}
.pageHeader-bar_two {
    display: flex;
    justify-content: end;
    width: 40%;
    list-style: none;
}
.item4, .item5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.item4 figure, .item5 figure{
    display: flex;
    align-items: center;
}

.item5 figure img{
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
}
img{
    width: 1.8rem;
    height: 1.8rem;
}

.pageMainContents {
    width: 100%;
    height: 70vh;
}
.pageMainContents-s1{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.pageMainContents-s1 picture img {
    width: 15rem;
    height: 7.5rem;
}
.pageMainContents-s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}
.pageMainContents-s2_busqueda{
    border: 0.1rem rgb(134, 133, 139) solid;
    border-radius: 2rem;
    width: 80%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageMainContents-s2_busqueda picture{
    display: flex;
    align-items: center;
}
#microfono{
    width: 1.4rem;
}
.pageMainContents-s2_busqueda label{
   width: 70%;
}
.pageMainContents-s2_busqueda label input{
    border: none;
    width: 100%;
}
.pageMainContents-s2_botones{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.pageMainContents-s2_botones button{
   border: none;
   background-color: white;
}
.pageMainContents-s3 {
    font-size: 1.2rem;
    display: flex;
}

.pageFooter{
    background-color: rgb(206, 204, 204);
}
.pageFooter-pais p{
    height: 2.5rem;
    display: flex;
    align-items: center;
    color: rgb(70, 69, 69);
}
.pageFooter-vacio p{
    height: 2.5rem;
    border-top: 0.1rem rgb(134, 133, 139) solid;
    border-bottom: 0.1rem rgb(134, 133, 139) solid;
}
.pageFooter-otros {
    font-size: 1.2rem;
}
.pageFooter-otros_l1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.pageFooter-otros_l1 li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}
.pageFooter-otros_l1 li a, .pageFooter-otros_l2 li a {
    text-decoration: none;
    color: rgb(70, 69, 69);
}
.pageFooter-otros_l1 .l1-item1 {
    width: 60%;
}
.pageFooter-otros_l1 .l1-item2 {
    width: 40%;
}
.pageFooter-otros_l1 .l1-item3 {
    width: 50%;
}
.pageFooter-otros_l1 .l1-item4 {
    width: 50%;
}
.pageFooter-otros_l2{
    display: flex;
    justify-content: center;
    list-style: none;
}
.pageFooter-otros_l2 li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 30.33%;
}

@media (min-width: 600px) {
    .pageHeader-bar_one {
        width: 50%;
    }
    .item1 {
        width: 10%;
    }
    .item2 {
        width: 15%;
    }
    .item3 {
        width: 25%;
    }
    .pageHeader-bar_two {
        width: 50%;
    }
    .item4, .item5{
        width: 15%;
    }
    .pageMainContents {
        width: 100%;
        height: 80vh;
    }
    .pageMainContents-s2_busqueda{
        width: 50%;
        height: 3rem;
    }
    .pageMainContents-s2_busqueda label{
        width: 85%;
     }
     .pageMainContents-s2_botones{
        width: 50%;
    }
    .pageMainContents-s3 {
        justify-content: center;
        align-items: flex-end;
        height: 2rem;
    }
    .pageFooter-otros_l1 .l1-item1 {
        width: 25%;
    }
    .pageFooter-otros_l1 .l1-item2 {
        width: 25%;
    }
    .pageFooter-otros_l1 .l1-item3 {
        width: 25%;
    }
    .pageFooter-otros_l1 .l1-item4 {
        width: 25%;
    }
}
@media (min-width: 900px) {
    .pageHeader-bar_one {
        width: 92%;
        justify-content: end;
    }
    .item1 {
        width: 5%;
    }
    .item2 {
        width: 5%;
    }
    .item3 {
        width: 10%;
    }
    .pageHeader-bar_two {
        width: 8%;
    }
    .item4, .item5{
        width: 50%;
    }
    .pageMainContents {
        width: 100%;
        height: 87vh;
    }
    .pageMainContents-s2_busqueda{
        width: 50%;
        height: 3rem;
    }
    .pageMainContents-s2_busqueda label{
        width: 85%;
     }
     .pageMainContents-s2_botones{
        width: 50%;
    }
    .pageMainContents-s3 {
        justify-content: center;
        align-items: flex-end;
        height: 2rem;
    }
    .pageFooter-vacio p{
        height: 0rem;
        border-top: 0.05rem rgb(156, 156, 156) solid;
        border-bottom: 0.05rem rgb(156, 156, 156) solid;
    }
    .pageFooter-otros {
        font-size: 1.2rem;
        display: flex;

    }
    .pageFooter-otros_l1 {
        width: 50%;
        justify-content: flex-start;
        align-items: center;
    }
    .pageFooter-otros_l1 .l1-item1 {
        width: 33%;
    }
    .pageFooter-otros_l1 .l1-item2 {
        width: 18%;
    }
    .pageFooter-otros_l1 .l1-item3 {
        width: 16%;
    }
    .pageFooter-otros_l1 .l1-item4 {
        width: 16%;
    }
    .pageFooter-otros_l2{
        width: 50%;
        justify-content: flex-end;
        align-items: center;
    }
    .pageFooter-otros_l2 .l2-item1 {
        width: 14%;
    }
    .pageFooter-otros_l2 .l2-item2 {
        width: 14%;
    }
    .pageFooter-otros_l2 .l2-item3 {
        width: 20%;
    }
}